<div>
    <div class="form-group" ng-repeat="order in orders">
        <div class="row">
            Item name: {{order.item.name}} <br/>
            Item price {{order.item.price}} <br/>
            Ordered quantity: {{order.orderedQuantity}} <br/>

            <button class="btn-default" type="button" title="Add to cart" ng-click="deleteOrder(item)">
                Remove from cart
            </button>
            <button class="btn-default" type="button" title="Add to cart" ng-click="validateOrder(item)">
                Purchase these items
            </button>

        </div>
    </div>
    <div class="alert alert-info" role="alert" ng-show="orders.length == 0">
        No items in cart!
    </div>
</div>