<div ng-if="authenticated">
    <form class="form-horizontal" role="form">

        <div class="input-group">
            <input type="text" class="form-control" ng-model="filter.itemName" placeholder="Search by name..."/>
          <span class="input-group-btn">
            <button class="btn btn-default" title="Search" ng-click="findItems()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
            <span class="input-group-btn">
                <button class="btn btn-default" title="Clear" ng-click="clearFilter()">
                    <span class="glyphicon glyphicon-clear"></span>
                </button>
            </span>
        </div>

        <hr/>

        <div class="form-group" ng-repeat="item in items">
            <div class="row">
                <label class="label label-default col-xs-9">{{item.name}}</label>
                <label class="label label-default col-xs-9">{{item.price}}</label>

                <div class="col-xs-3">
                    <button class="btn-default" type="button" title="Add to cart" ng-hide="item.inCart"
                            ng-click="addToCart(item)">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="alert alert-info" role="alert" ng-show="items && items.length == 0 && filter.itemName.length == 0">
        There are no items yet.
    </div>
    <div class="alert alert-info" role="alert" ng-show="items && items.length == 0 && filter.itemName.length > 0">
        No items found!
    </div>
</div>
<div ng-if="authenticated == false">Login to see content !</div>