<div ng-if="authenticated">
    <form class="form-horizontal" role="form">

        <!--Filter area -->
        <div>
            <input type="text" ng-model="filter.name" placeholder="Search by name..."/>
            <select ng-model="filter.category" ng-options="category as category.name for category in categories">
                <option value="" ng-disabled="true">Select a category</option>
            </select>
          <span class="input-group-btn">
            <button class="btn btn-default" title="Search" ng-click="findItemsFiltered()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
              <button class="btn btn-default" title="Clear" ng-click="clearFilter()">
                  <span class="glyphicon glyphicon-trash"></span>
              </button>
          </span>
        </div>

        <hr/>

        <!--Details area-->
        <div class="form-group" ng-repeat="item in items">
            <div class="row">
                Name: {{item.name}} <br/>
                Price: {{item.price}} $ <br/>
                Categories:
                <ul ng-repeat="category in item.categories">
                    <li>{{category.name}}</li>
                </ul>

                <button class="btn-default" type="button" title="Make order"
                        ng-click="addToCart(item)">
                    Add to cart
                </button>

                <hr/>
            </div>
        </div>

    </form>

    <!--Default messages-->
    <div class="alert alert-info" role="alert" ng-show="items && items.length == 0 && filter.itemName.length == 0">
        There are no items yet.
    </div>
    <div class="alert alert-info" role="alert" ng-show="items && items.length == 0 && filter.itemName.length > 0">
        No items found!
    </div>
</div>

<div ng-if="authenticated == false">Login to see content !</div>